<div class="box npc creat">
  <p class="box-header"> <a class="content-link" draggable="true" data-link="" data-uuid="{{actor.uuid}}" data-id="{{actor.id}}" data-type="Actor" data-tooltip=""><i class="fa-solid fa-user" inert=""></i>{{actor.name}}</a>
  </p>
  {{{system.biography}}}
  <table class="npc stats">
    <tbody>
      <tr>
        <td>
          <p class="stats"><span class="bold small-caps">Ferocity:</span> {{system.ferocity}} <span class="bold small-caps">Health:</span> {{system.derivedAttributes.health.max}} <span class="bold small-caps">Armor:</span> {{system.armor}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="stats">
            {{#if system.attributes.strength}}
            <span class="bold small-caps">STRENGTH</span> {{system.attributes.strength}}
            {{/if}}

            {{#if system.attributes.agility}}
            <span class="bold small-caps">AGILITY</span> {{system.attributes.agility}}
            {{/if}}

            {{#if system.attributes.logic}}
            <span class="bold small-caps">LOGIC</span> {{system.attributes.logic}}
            {{/if}}

            {{#if system.attributes.perception}}
            <span class="bold small-caps">PERCEPTION</span> {{system.attributes.perception}}
            {{/if}}

            {{#if system.attributes.insight}}
            <span class="bold small-caps">INSIGHT</span> {{system.attributes.insight}}
            {{/if}}

            {{#if system.attributes.empathy}}
            <span class="bold small-caps">EMPATHY</span> {{system.attributes.empathy}}
            {{/if}}
          </p>
        </td>
      </tr>
      {{#if abilities}}
      <tr>
        <td>
          <p><span class="bold small-caps">Abilities</span></p>
          <ul>
            {{#each abilities as | A | }}
            <li class="inline">
              <p>
                <span class="bold">{{A.name}}:</span> {{{A.system.description}}}
              </p>
            </li>
            {{/each}}
          </ul>
        </td>
      </tr>
      {{/if}}
    </tbody>
  </table>
  <table class="npc attacks">
    <thead>
      <tr>
        <th>
          <p class="attack-header">{{actor.name}} Signature Attacks</p>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each attacks as | At | }}
      <tr>
        <td class="inline">
          <p>
            <span class="bold">{{At.name}}:</span>
          </p>
          {{{At.system.description}}}
        </td>
      </tr>
      {{/each}}
</div>