<section class='tab afflictions scrollable {{tab.cssClass}}' data-group='primary' data-tab='afflictions'>
  <div class="affliction-item-title">
    <label>{{localize "CORIOLIS_TGD.Actor.Tabs.Afflictions"}}
      <a class='item-control item-create' data-tooltip='{{localize "DOCUMENT.Create" type=' Item'}}'
        data-action='createDoc' data-document-class='Item' data-type='affliction' data-filter="affliction">
        <i class='fas fa-plus'></i>
      </a>
    </label>
    <label>{{localize "CORIOLIS_TGD.Item.Affliction.FIELDS.afflictionType.label"}}</label>
    <label>{{localize "CORIOLIS_TGD.Item.Affliction.FIELDS.healTime.label"}}</label>
    <label>{{localize "CORIOLIS_TGD.Item.Affliction.FIELDS.lethal.label"}}</label>
    <label>{{localize "CORIOLIS_TGD.Item.Tabs.Description"}}</label>
  </div>
  {{#each afflictions as |item id|}}
  <div class="affliction-item" data-item-id='{{item._id}}' data-document-class='Item'>
    <div>
      <a class='rollable' data-roll-type='item' data-action='roll'>
        <img src='{{item.img}}' data-tooltip='{{item.name}}' width='46' height='46' />
      </a>
      <label>{{item.name}}</label>
    </div>
    <label>{{item.system.afflictionTypeInfo}}</label>
    <label>{{item.system.healTimeInfo}}</label>
    <img class="checkbox" src="systems/coriolis-tgd/assets/frames/checkbox-{{ifThen item.system.lethal "checked" "empty"}}.webp" width="41" height="41" />
    <div class="expandable-field" data-action="expand">
      {{{item.system.description}}}
    </div>
  </div>
  {{/each}}
</section>