<div class="equipment-item draggable" data-item-id='{{item._id}}' data-document-class='Item'>
  <div>
    <a class='rollable' data-roll-type='item' data-action='roll'>
      <img src='{{item.img}}' data-tooltip='{{item.name}}' width='46' height='46' />
    </a>
    <label class="item-name" data-tooltip="{{item.name}}">{{item.name}}</label>
  </div>
  <label>{{item.system.bonus}} {{{item.system.state}}}</label>
  <label>{{localize (concat "CORIOLIS_TGD.Item.Equipment.FIELDS.weight." item.system.weight "label")}}</label>
  <label>{{item.system.quantity}}</label>
  <div class="expandable-field" data-action="expand">
    {{{item.enrichedDescription}}}
    <p>{{localize "CORIOLIS_TGD.Item.Equipment.FIELDS.tech.label"}}: {{system.techDescription}}</p>
    {{#if item.system.consumable}}
    <p><strong>{{localize "CORIOLIS_TGD.Item.Equipment.FIELDS.consumable.label"}}</strong></p>
    {{/if}}
    {{#if item.system.supplyConsumed}}
    <p><strong>{{localize "CORIOLIS_TGD.Item.Equipment.FIELDS.supplyConsumed.description"
        supplyConsumed=system.supplyConsumed}}</strong>
    </p>
    {{/if}}
  </div>
</div>