<section class='tab powers scrollable {{tab.cssClass}}' data-group='primary' data-tab='stats'>
  <div class="grid">
    {{formGroup systemFields.maxManeuverability value=system.maxManeuverability disabled=system.playMode
    classes="cgd-custom"}}
    {{formGroup systemFields.armor value=system.armor disabled=system.playMode
    classes="cgd-custom"}}
    {{formGroup systemFields.combatSpeed value=system.combatSpeed disabled=system.playMode
    classes="cgd-custom"}}
    {{formGroup systemFields.travelSpeed value=system.travelSpeed disabled=system.playMode
    classes="cgd-custom"}}
    {{formGroup systemFields.range value=system.range disabled=system.playMode
    classes="cgd-custom"}}
    {{formGroup systemFields.passengers value=system.passengers disabled=system.playMode
    classes="cgd-custom"}}
    {{formGroup systemFields.cargo value=system.cargo disabled=system.playMode
    classes="cgd-custom"}}
    {{formGroup systemFields.slots value=system.slots disabled=system.playMode
    classes="cgd-custom"}}
  </div>
</section>