<div>
  <p>
    <strong>{{localize "CORIOLIS_TGD.Item.Affliction.FIELDS.afflictionType.label"}}: {{system.afflictionTypeInfo}}</strong>
  </p>
  <p>
    <strong>{{localize "CORIOLIS_TGD.Item.Affliction.FIELDS.healTime.label"}}:</strong> {{system.healTimeInfo}}
  </p>
  {{{system.description}}}
</div>