<section class='tab configuration scrollable {{tab.cssClass}}' data-group='primary' data-tab='configuration'>
  {{formGroup systemFields.delveClass value=system.delveClass type="number" classes="cgd-custom"}}
  {{formGroup systemFields.depthClass value=system.depthClass type="number" classes="cgd-custom"}}
  {{formGroup systemFields.deepScanBonus value=system.deepScanBonus type="number" classes="cgd-custom"}}
  {{formGroup systemFields.blightScanBonus value=system.blightScanBonus type="number" classes="cgd-custom"}}
  {{formGroup systemFields.distanceToExitBonus value=system.distanceToExitBonus type="number" classes="cgd-custom"}}
  {{formGroup systemFields.forayDistanceBonus value=system.forayDistanceBonus type="number" classes="cgd-custom"}}
</section>