<section class='tab configuration scrollable {{tab.cssClass}}' data-group='primary' data-tab='configuration'>
  {{formGroup systemFields.attackType value=system.attackType choices=config.Weapon.attackTypeChoices localize=true
  classes="cgd-custom"}}
  {{formGroup systemFields.grip value=system.grip choices=config.Weapon.gripChoices hidden=(eq system.attackType config.Weapon.attackTypeConstants.vehicle) localize=true classes="cgd-custom"}}
  {{formGroup systemFields.bonus value=system.bonus type="number" classes="cgd-custom"}}
  {{formGroup systemFields.maxBonus value=system.maxBonus type="number" classes="cgd-custom"}}
  {{formGroup systemFields.damage value=system.damage type="number" classes="cgd-custom"}}
  {{formGroup systemFields.critical value=system.critical type="number" classes="cgd-custom"}}{{formGroup systemFields.blight value=system.blight type="number" classes="cgd-custom"}}
  {{formGroup systemFields.loaded value=system.loaded classes="cgd-custom"}}
  {{#if (eq system.attackType config.Weapon.attackTypeConstants.ranged)}}
  {{formGroup systemFields.minRange value=system.minRange choices=config.Weapon.attackRangeChoices localize=true
  classes="cgd-custom"}}
  {{formGroup systemFields.maxRange value=system.maxRange choices=config.Weapon.attackRangeChoices localize=true
  classes="cgd-custom"}}
  {{/if}}
  {{formGroup systemFields.quantity value=system.quantity classes="cgd-custom" hidden=(not isEmbedded)}}
  {{formGroup systemFields.weight choices=config.Equipment.weightChoices value=system.weight localize=true
  valueAttr="value" labelAttr="label" classes="cgd-custom"}}
  {{formGroup systemFields.cost value=system.cost classes="cgd-custom"}}
  {{formGroup systemFields.tech value=system.tech localize=true
  classes="cgd-custom"}}
</section>